*.opensdf
*.sdf
*.suo
*.db
*.aps
*.psess
*.vsp
*.log
*.exe
*.pdb
*.lib
*.obj
*.tlog
*.ilk
*.manifest
*.res
*.lastbuildstate
*.pch
*.idb
*.rc
*.ipch
*.o
*.unsuccessfullbuild
*.unsuccessfulbuild
*.dll
*.wz
*.zip
*.7z
*.xml
*.codeanalysis
*.codeanalysisast
*.config
